.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #242424;
}

.App-link {
  color: #61dafb;
  font-size: 1.2em;
  font-weight: bold;
}

.App-link:hover {
  color: #21a1f1;
}